{% comment %} 
- fill this with header <> and footer <>
- CSS stuff link here too
- use blocks to allocate rest of page, then on other HTML pages, put all content into block 
- also extend this base html file on other HTML files
- credit to michael lin, a fellow student -- he explained best organizational practices
{% endcomment %}

<html>
    {% load socialaccount %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <header>
        <div>
            <nav class="navbar navbar-dark bg-dark container-fluid justify-content-start" role="navigation">
                <a class="navbar-brand">New Lou's List / CavCourses</a>
    
                <form class="container-fluid justify-content-start">
                {% comment %} <ul class="nav flex-row mx-auto bg-dark"> {% endcomment %}
                    <button class="btn me-2 btn-primary" type="button" role="button">
                        <a href="{% url 'home' %}" style="color:inherit"> Home </a>
                    </button>
                    <button class="btn me-2 btn-primary" type="button" role="button">
                        <a  href="{% url 'list' %}" style="color:inherit"> View Departments </a>
                    </button>
                    <button class="btn me-2 btn-primary" type="button" role="button">
                        <a href="#" style="color:inherit"> View Schedule </a>
                    </button>
                    <button class="btn me-2 btn-primary" type="button" role="button">
                        <a href="#" style="color:inherit"> My Account </a>
                    </button>
    
                    {% comment %} 
                    May want to update these to avoid hardcoding the URL's at some point
                    {% endcomment %}
    
                    {% if user.is_authenticated %}
                        <button class="btn me-2 btn-primary" type="button" role="button">
                            <a href="/classlist/accounts/logout" style="color:inherit"> Logout </a>
                        </button>
                        <a class="navbar-brand" color="#fff"> Welcome, {{ user.username }}! </a>
                    {% else %}
                        <button class="btn me-2 btn-primary" type="" color="#fff" role="button">
                            <a href="/classlist/accounts/google/login/?process=login" style="color:inherit"> Login </a>
                        </button>
                    {% endif %}
            </form>
                {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> {% endcomment %}
            </nav>
    
        </div>
            
    </header>

    {% block body %}
    {% endblock%}

    <footer>
        <div class="container-fluid bg-dark text-light mt-5 pt-5">
            <div class="container text-center py-3">
                <p style="font-size:14px">Made by Team A-27</p>
                <p style="font-size:14px">Fall 2022 CS 3240</p>
            </div>
        </div>
    </footer>

</html>

