<html>

<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript%}
    <meta charset="utf-8">
    <title>{{dept_abbr}} Classes</title>
</head>

<body>
    <h1>All classes in {{dept_abbr}} department:</h1>
    {% if dept_courses %}
        <table class="table">
            <thead>
                <th scope="col">Course</th>
                <th scope="col">Description</th>
                <th scope="col">Instructor</th>
                <th scope="col">Credits</th>
            </thead>
            <tbody>
                {% for c in dept_courses %}
                    <tr>
                        <th scope="row">{{c.subject}} {{c.catalog_number}}</th>
                        <td>{{c.description}}</td>
                        <td>{{c.instructor.name}}</td>
                        <td>{{c.units}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No classes are currently available for this department.</p>
    {% endif %}

</body>

</html>