{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

<!-- nav bar that ca be changed as we get more pages -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="">New Lou's List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="">Homepage <span class="sr-only"></span></a>   <!-- we can add more links and make this one go to whatever later -->
      </li>
    </ul>
  </div>
    </nav>

<style type="text/css">
    body {background: grey !important; }
</style>

<div class="container text-center" >
    <h1>Classes</h1>
</div>
<div class="container text-center">
    {% if classes %}
        {% for c in classes.all %}
        <p> {{c.description}}</p>
        <li>Description: {{c.description}}</li>
        <li>Credits: {{c.units}}</li>
        {% endfor %}
    {% else %}
        <p>No classes are currently available.</p>
    {% endif %}
</div>

<style>.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: black;
color: white;
text-align: left;
}
</style>

<div class="footer">
    <p>A-27</p>
</div>