{% extends "base.html" %}
{% comment %} 
Citations:

Title: Megan Kuo's django tutorial project
URL: https://github.com/uva-cs3240-f22/django-megkuo/blob/main/polls/templates/polls/deep_thought_submit.html

Title: HTML select
URL: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select

{% endcomment %}

<html>

    
    {% load socialaccount %}
    <title>Create account</title>

    {% block body %}

    <body>
        {% comment %} <h1>Create an account</h1> {% endcomment %}

        {% block title %}Create an Account{% endblock %}

        {% block content %}

            <form method="POST" class="form-group">
            {% csrf_token %}
            <tr>
    <th><label for="id_username">Username:</label></th>
    <td>
      <input type="text" name="username" value={{user.username}} required id="id_username">
    </td>
  </tr>

  <tr>
    <th><label for="id_major">Major:</label></th>
    <td>
      <input type="text" name="major" value="Unknown" required id="id_major">
    </td>
  </tr>

  <tr>
    <th><label for="id_year">Year:</label></th>
    <td>
      
      {% comment %} <input type="text" name="year" value="Unknown" required id="id_year"> {% endcomment %}
      <select name="year" required id="id_year">
        <option value="">--Please choose an option--</option>
        <option value="1">First year</option>
        <option value="2">Second year</option>
        <option value="3">Third year</option>
        <option value="4">Fourth year</option>
        <option value="5">Other</option>
      </select>
      
    </td>
  </tr>

  {% comment %} <tr>
    <th><label for="id_email">Email:</label></th>
    <td>
      <input type="email" name="email" required id="id_email">
    </td>
  </tr> {% endcomment %}
            <button type="submit" class="btn btn-success">Register</button>
            </form>
        {% endblock %}

        {% comment %} <ul>

            <form method="post" novalidate>
                {% csrf_token %}
                
                <div class ="form-group">
                    <div class="row text-center">
                      <div class="col-sm-5 mx-auto mb-2">
                        <label for="example" size="large">Username</label>
                        <input type="text" class="form-control" placeholder="default is {{request.user.username}}" name="username">
                      </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-7 mx-auto mb-4">
                            <div class ="form-group">
                                <label for="example">Year</label>
                                <input type="text" class="form-control" placeholder="e.g. First year, Second year, Faculty, etc." name="year">
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-7 mx-auto mb-4">
                            <div class ="form-group">
                                <label for="example">Major</label>
                                <input type="text" class="form-control" placeholder="e.g. Computer Science, Psychology" name="major">
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="column">
                            <button type="submit" class="btn btn-primary" size="lg" aria-setsize="small">Create account!</button>
                        </div>
                    </div>
                </div>
              </form>

        </ul> {% endcomment %}

    </body>

    <footer>
      <div class="container-fluid fixed-bottom bg-dark text-light mt-5 pt-5">
          <div class="container text-center py-3">
              <p style="font-size:14px">Made by Team A-27</p>
              <p style="font-size:14px">Fall 2022 CS 3240</p>
          </div>
      </div>
    </footer>

{% endblock %}

</html>
