<!-- 
    Citations:

    Title: Card Columns
    URL: https://mdbootstrap.com/docs/standard/extended/card-columns/
 -->

<html>
    {% extends "base.html" %}

<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript%}
</head>

{% block body %}
<!-- <body style="background-color: rgb(28, 148, 148);"> -->
    
    <div class="text-center" style="color:white">
        {% if user.email == request.user.email %}
            <h1>My Schedule</h1>
        {% else %}
            <h1>{{user.USERNAME_FIELD}}'s Schedule</h1>
        {% endif %}
      <br>
    </div>

    {% if the_schedule %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Mon</th>
                    <th scope="col">Tue</th>
                    <th scope="col">Wed</th>
                    <th scope="col">Thu</th>
                    <th scope="col">Fri</th>
                    <!-- <th scope="col">Sat</th>
                    <th scope="col">Sun</th> -->
                </tr>
            </thead>
            {% if the_schedule.classRoster %}
                <tbody>
                    <tr>
                        <td>
                            {% for c in the_schedule.classRoster.all %}
                                {% for m in meetings_list %}
                                    <div class="row row-cols-1 g-1">
                                        <div class="col">
                                            {% if m.monday and m.section.section_id == c.section_id %}
                                                <div class="card" display="inline-block" style="width:17rem">
                                                    <h5 class="card-header text-center">{{c.course.title}}</h5>
                                                    <div class="card-body text-center">
                                                        {{m.start_time|make_list|slice:':2'|join:''}}:{{m.start_time|make_list|slice:'3:5'|join:''}} - {{m.end_time|make_list|slice:':2'|join:''}}:{{m.end_time|make_list|slice:'3:5'|join:''}} <br>
                                                        {{m.facility_description}}
                                                    </div>
                                                    <div class="card-footer text-center">
                                                        {% if user.email == request.user.email %}
                                                        <form action="delete/{{c.section_id}}/" method="post">
                                                            {% csrf_token %}
                                                            
                                                            <button type = 'submit' button name = 'delete-button' value = "{{c.section_id}}" class = 'btn btn-danger'>Remove Class</button>
                                                        </form>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for c in the_schedule.classRoster.all %}
                                {% for m in meetings_list %}
                                    <div class="row row-cols-1 g-1">
                                        <div class="col">
                                            {% if m.tuesday and m.section.section_id == c.section_id %}
                                                <div class="card" display="inline-block" style="width:17rem">
                                                    <h5 class="card-header text-center">{{c.course.title}}</h5>
                                                    <div class="card-body text-center">
                                                        {{m.start_time|make_list|slice:':2'|join:''}}:{{m.start_time|make_list|slice:'3:5'|join:''}} - {{m.end_time|make_list|slice:':2'|join:''}}:{{m.end_time|make_list|slice:'3:5'|join:''}} <br>
                                                        {{m.facility_description}}
                                                    </div>
                                                    <div class="card-footer text-center">
                                                        {% if user.email == request.user.email %}
                                                        <form action="delete/{{c.section_id}}/" method="post">
                                                            {% csrf_token %}
                                                            <button type = 'submit' button name = 'delete-button' value = "{{c.section_id}}" class = 'btn btn-danger'>Remove Class</button>
                                                        </form>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for c in the_schedule.classRoster.all %}
                                {% for m in meetings_list %}
                                    <div class="row row-cols-1 g-1">
                                        <div class="col">
                                            {% if m.wednesday and m.section.section_id == c.section_id %}
                                                <div class="card" display="inline-block" style="width:17rem">
                                                    <h5 class="card-header text-center">{{c.course.title}}</h5>
                                                    <div class="card-body text-center">
                                                        {{m.start_time|make_list|slice:':2'|join:''}}:{{m.start_time|make_list|slice:'3:5'|join:''}} - {{m.end_time|make_list|slice:':2'|join:''}}:{{m.end_time|make_list|slice:'3:5'|join:''}} <br>
                                                        {{m.facility_description}}
                                                    </div>
                                                    <div class="card-footer text-center">
                                                        {% if user.email == request.user.email %}
                                                        <form action="delete/{{c.section_id}}/" method="post">
                                                            {% csrf_token %}
                                                            <button type = 'submit' button name = 'delete-button' value = "{{c.section_id}}" class = 'btn btn-danger'>Remove Class</button>
                                                        </form>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for c in the_schedule.classRoster.all %}
                                {% for m in meetings_list %}
                                    <div class="row row-cols-1 g-1">
                                        <div class="col">
                                            {% if m.thursday and m.section.section_id == c.section_id %}
                                                <div class="card" display="inline-block" style="width:17rem">
                                                    <h5 class="card-header text-center">{{c.course.title}}</h5>
                                                    <div class="card-body text-center">
                                                        {{m.start_time|make_list|slice:':2'|join:''}}:{{m.start_time|make_list|slice:'3:5'|join:''}} - {{m.end_time|make_list|slice:':2'|join:''}}:{{m.end_time|make_list|slice:'3:5'|join:''}} <br>
                                                        {{m.facility_description}}
                                                    </div>
                                                    <div class="card-footer text-center">
                                                        {% if user.email == request.user.email %}
                                                        <form action="delete/{{c.section_id}}/" method="post">
                                                            {% csrf_token %}
                                                            <button type = 'submit' button name = 'delete-button' value = "{{c.section_id}}" class = 'btn btn-danger'>Remove Class</button>
                                                        </form>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <td>
                                {% for c in the_schedule.classRoster.all %}
                                    {% for m in meetings_list %}
                                        <div class="row row-cols-1 g-1">
                                            <div class="col">
                                                {% if m.friday and m.section.section_id == c.section_id %}
                                                    <div class="card" display="inline-block" style="width:17rem">
                                                        <h5 class="card-header text-center">{{c.course.title}}</h5>
                                                        <div class="card-body text-center">
                                                            {{m.start_time|make_list|slice:':2'|join:''}}:{{m.start_time|make_list|slice:'3:5'|join:''}} - {{m.end_time|make_list|slice:':2'|join:''}}:{{m.end_time|make_list|slice:'3:5'|join:''}} <br>
                                                            {{m.facility_description}}
                                                        </div>
                                                        <div class="card-footer text-center">
                                                            {% if user.email == request.user.email %}
                                                            <form action="delete/{{c.section_id}}/" method="post">
                                                                {% csrf_token %}
                                                                <button type = 'submit' button name = 'delete-button' value = "{{c.section_id}}" class = 'btn btn-danger'>Remove Class</button>
                                                            </form>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </td>
                        </td>
                    </tr>
                </tbody>
            {% endif %}
        </table>
        <div class="container">
            <div class="card-deck">
                
                <!-- 
                    For comment in the_scedule.comments:
                        create a card with the username, profile pic, and comment
                 -->
                 {% if comments_list %}
                 <div class="justify-content-center">
                     <div class="row">
                         <div class="col-md-5">
                             <div class="card ccard radius-t-0 h-100">

                                 <div class="card-header pb-3 brc-secondary-l3">
                                     <h5 class="card-title mb-2 mb-md-0 text-dark-m3 text-center">
                                         Comments for {{user.USERNAME_FIELD}}'s schedule:
                                     </h5>
                                 </div>
                                 <div class="card-body pt-2 pb-1">
                                     {% for c in comments_list %}
                                         {% comment %} {% if c.schedule == my_schedule %} {% endcomment %}
                                             {% comment %} <div role="button" class="d-flex flex-wrap align-items-center my-2 bgc-secondary-l4 bgc-h-secondary-l3 radius-1 p-25 d-style">
                                                 <span class="mr-25 w-4 h-4 overflow-hidden text-center border-1 brc-secondary-m2 radius-round shadow-sm d-zoom-2">
                                                     <img src="{{c.from_user.avatar}}" class="h-4 w-4" style="width: 80px;"/>
                                                 </span>
                                                 <span class="text-default-d3 text-90 text-600 text-left">
                                                     {{c.from_user.USERNAME_FIELD}}: {{c.text}}
                                                 </span>
                                                 <span>
                                                     &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                                 </span>
                                             </div> {% endcomment %}
                                         {% comment %} {% endif %} {% endcomment %}

                                         <div class="card mb-3" width="width:17rem">
                                             <div class="card-header"> 
                                                 <div class="col float-start">
                                                     <img src="{{c.from_user.avatar}}" class="rounded-circle" height="30" width="30">
                                                 </div>
                                                 <div class="row row-cols-2">
                                                     <div class="col"> {{c.from_user.USERNAME_FIELD}}:</div>
                                                 </div> 
                                                 
                                             </div>
                                             <div class="card-body"> {{c.text}} </div>
                                         </div>


                                     {% endfor %}
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             {% else %}
                 <p> No comments exist for this user's schedule. </p>
             {% endif %}

             <p>
             <a class="btn btn-primary" href='/classlist/schedule/{{user.email}}/add_comment'>
             add comment
             </a></p> 
            </div>
        </div>
    {% else %}
        <h1>No classes to see here!</h1>
    {% endif %}
</body>
{% endblock %}

</html>