{% extends "base.html" %}
{% comment %} 
Citations:

Title: Megan Kuo's django tutorial project
URL: https://github.com/uva-cs3240-f22/django-megkuo/blob/main/polls/templates/polls/deep_thought_submit.html

{% endcomment %}

<html>

    
    {% load socialaccount %}
    <title>Send friend request</title>

    {% block body %}

    <body>
            {% comment %} <p> Send friend request: </p>
            <button class="btn me-2 btn-primary" type="button" role="button">
                <a  href="{% url 'send friend request' %}" style="color:inherit"> Request friend </a>
            </button>
            <p> Delete friends: </p> {% endcomment %}
            {% comment %} to be added later {% endcomment %}

            {% comment %} <form method="post" novalidate>
                {% csrf_token %}
                
                <div class ="form-group">
                      <label for="example" size="large">Email</label>
                      <input type="text" class="form-control" placeholder="Email Address" name="email">
                        <button type="submit" class="btn btn-primary" size="lg" aria-setsize="small">Send Request</button>
                </div>
            </form>   {% endcomment %}

        {% comment %} </ul> {% endcomment %}



        <ul class="all_accounts">
            {% if all_accounts %}
                {% for other_user in all_accounts %}
                {% comment %} {% if user not in request.user.friends.all and user != request.user %} {% endcomment %}
                    {% if other_user.email != account.email %}
                        <h1> {{other_user.USERNAME_FIELD}} 
                            {% if other_user in account.friends.all %}
                            
                            <p> already friends </p>
                            <p> freinds: {{ account.friends.all }} </p>
                            {% else %}

                            {% comment %} Friending others is a work in progress {% endcomment %}
                            {% comment %} <a href="send_friend_request/{{other_user.pk}}">Send friend request</a> {% endcomment %}
                            <a href="#">Send friend request</a>
                            {% endif %}
                        </h1>
                    {% endif %}
                {% endfor %}
            {% else %}
            <p> No friends found. You are a lonely wumpus... </p>
            {% endif %}
        </ul>
        {% comment %} <ul class="all_users">
            {% for friend_request in all_friend_requests %}
            <h1> {{friend_request.from_user}} 
                <a href="/accept_friend_request/{{friend_request.id}}">accept friend request</a></h1>
            {% endfor %}
        </ul> {% endcomment %}
    </body>

    <footer>
        <div class="container-fluid fixed-bottom bg-dark text-light mt-5 pt-5">
            <div class="container text-center py-3">
                <p style="font-size:14px">Made by Team A-27</p>
                <p style="font-size:14px">Fall 2022 CS 3240</p>
            </div>
        </div>
    </footer>

{% endblock %}

</html>
